@charset utf-8;
body{font-family:Verdana, Geneva, sans-serif;font-size:12px;color:#333;margin:0;padding:0}
a{font-family:Verdana, Geneva, sans-serif;font-size:12px;color:#3B5998;text-decoration:none}
a:hover{text-decoration:underline}
p,div,table{margin:0;padding:0}
img{border:medium none;margin:0;padding:0}
input,button{font-family:Arial, sans-serif;margin:0;padding:0}
ul,li{font-family:Verdana, Geneva, sans-serif;margin:0;padding:0}
#head{width:100%;text-align:center}
#top{background-color:#F4F4F4;height:30px;line-height:30px;text-align:left;color:#666;white-space:nowrap;border-bottom:1px solid #E0E0E0;position:relative;padding:0 10px}
#top a{display:block;border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;margin-left:-1px;color:#666;text-decoration:none;float:left;height:30px;padding:0 10px}
#top #moreinfo{z-index:100}
#top .seemore{position:relative;background-color:#fff;height:31px;border-left:1px solid #aaa;border-right:1px solid #aaa;z-index:100}
#top img{width:20px;height:20px;margin:5px 3px}
#top .top_r{position:absolute;right:5px;display:inline-block;padding-right:3px;text-align:right}
#top a:hover,#tablist a:hover{background-color:#fff}
.barrow{width:16px;height:14px;background:url(./images/bbg.png) -56px -80px no-repeat;display:inline-block;vertical-align:middle;cursor:pointer}
.uarrow{width:16px;height:14px;background:url(./images/bbg.png) -92px -80px no-repeat;display:inline-block;vertical-align:middle;cursor:pointer}
.myinfo{width:320px;color:#666;position:absolute;background-color:#fff;border:1px solid #aaa;top:30px;left:10px;text-align:left;display:none;z-index:99;-moz-box-shadow:1px 1px 3px #969696;-webkit-box-shadow:1px 1px 3px #969696;box-shadow:1px 1px 3px #969696;padding:5px}
.myinfo img{width:16px;height:16px;vertical-align:text-bottom;margin-right:5px}
.myinfo span{display:block;height:32px;line-height:32px}
#head #title{width:255px;height:92px;margin:20px auto 40px}
#container{width:720px;overflow:visible;margin:0 auto}
#ipform{position:relative;width:630px;margin:0 auto}
#dialog{width:630px;height:30px;color:#5e5e5e;line-height:30px;overflow:hidden;text-align:left;margin:0 auto;padding:0}
#dialog li{list-style-type:none;display:none}
#ipform .sbutton{background-image:url(./images/bbg.png);background-repeat:no-repeat;background-position:0 -1px;height:35px;width:117px;border:0;cursor:pointer;vertical-align:middle}
#ipform .sbton{background-image:url(./images/bbg.png);background-repeat:no-repeat;background-position:0 -41px;height:35px;width:117px;border:0;cursor:pointer;vertical-align:middle}
#autofill{position:absolute;display:none;border:1px solid #ccc;z-index:10;background-color:#fff;text-align:left;top:34px;width:500px;margin:0;padding:2px}
#autofill ul{overflow:hidden;margin:0;padding:0}
#autofill li{list-style:none;line-height:22px;display:block}
#autofill li a{display:block;text-decoration:none;white-space:nowrap;padding:2px}
#autofill li a:hover{background-color:#E9EBEF;color:#f08030}
#ipfield{width:500px;height:29px;line-height:29px;vertical-align:middle;font-weight:700;font-size:18px;margin-right:1px;border-color:#b0b0b0 #e0e0e0 #e0e0e0 #b0b0b0;border-style:solid;border-width:1px;padding:2px}
#ipfield:focus{outline:none}
.resultset{width:630px;font-size:14px;margin:40px auto}
.resulttab{background:none;border-bottom:1px solid #e7e7e7;height:31px;padding:0}
#tablist{list-style:none;overflow:hidden}
#tablist li{margin-top:1px;height:30px;border:1px solid #e7e7e7;border-bottom:none;line-height:29px;border-right:#D9E2E9 1px solid;border-left:#D9E2E9 1px solid;margin-right:-1px;z-index:200;float:left}
#tablist a{background-color:#f4f4f4;color:#666;display:block;cursor:pointer;text-decoration:none;font-family:Arial, sans-serif;padding:0 16px}
#tablist .current{border:1px solid #e7e7e7;border-top:2px solid #236fd4;border-bottom:none;background:#fff;color:#333;font-weight:700;height:29px}
#tablist .current a{background:#fff}
#noresult{background:#FEE9EA url(images/warning_32.png) no-repeat 10px center;border:1px solid #DE888A;color:#c31b00;padding:10px 5px 10px 70px}
#result,#extra{line-height:24px;text-align:left;border-top:none;overflow:hidden;margin:0 auto;padding:30px 0 0}
#result .line,#extra .line{background:#F0FEE9 url(images/check.png) no-repeat 10px center;border:1px solid #A5D491;color:#5e6f33;font-weight:700;word-wrap:break-word;padding:10px 5px 10px 70px}
.basicresult,.extraresult{width:100%;border-spacing:0;border-collapse:collapse;margin-top:10px;line-height:30px;border:1px solid #ccc}
.basicresult th{border-bottom:1px solid #ccc;background-color:#F5F5F5;color:#777;text-align:left;font-weight:400}
.basicresult td,.extraresult td{color:#444}
.extraresult td{border-bottom:1px dashed #ccc;padding:5px}
.basicresult td,.basicresult th{padding:3px}
#extra{display:none}
.etitle{text-align:right;background-color:#f4f4f4;font-size:12px;line-height:30px;color:#000}
.arrow{width:16px;height:16px;vertical-align:middle;background:url(./images/right.png) no-repeat;display:inline-block;margin:0 5px}
.basicresult img{vertical-align:middle;padding-left:25px;width:24px;height:24px}
#whois{overflow:hidden;border:1px solid #e7e7e7;border-top:none;display:none;text-align:center;margin:0 auto;padding:15px 0}
#map #loading,#whois #loading{text-align:center;vertical-align:middle;padding:5px 0}
#whois p{font-family:"Courier New", Courier, monospace;color:#333;text-align:left;font-size:12px;line-height:18px;padding:5px}
#map{height:400px;display:none;border:1px solid #e7e7e7;border-top:none;font-size:12px;line-height:20px;margin:0 auto}
#foot{position:relative;font-size:11px;color:#777;line-height:21px;width:100%;visibility:hidden;overflow:hidden;margin-top:20px}
#flink{width:720px;border:1px solid #e7e7e7;background-color:#F4F4F4;margin:60px auto;padding:5px}
#flink a{color:#777;font-size:11px;margin-right:10px}
#footer a{color:#777;text-decoration:none;font-size:11px}
#footer{border-top:1px solid #E0E0E0;text-align:right;background-color:#F4F4F4;padding:3px 0}
.backcover{width:100%;background-color:#222;position:absolute;top:0;left:0;z-index:1000;display:none}
